<p align="center"><img src="https://user-images.githubusercontent.com/69382688/122786398-e5c7b380-d2d1-11eb-8679-3733d0d590ef.jpg" width="400" height="500">
	<br>
	<br>
	<br>
	<p align="center">
		<a href="https://www.buymeacoffee.com/BhavikTutorials"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a Redbull&emoji=&slug=BhavikTutorials&button_colour=2ff22c&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"></a>
		<br>
		<br>
		<p align="center"><a href="https://github.com/Bhaviktutorials/"><img src="https://user-images.githubusercontent.com/64035221/122902746-5de2b780-d36c-11eb-8820-cb1c41967c42.png" alt="GitHub" width="40" height="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.youtube.com/channel/UCMhYgk0-nIHHtnRNkL9zpgQ"><img src="https://user-images.githubusercontent.com/64035221/122902734-5b805d80-d36c-11eb-85dc-934938206850.png" alt="YouTube" width="40" height="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://t.me/bhaviktutorial"><img src="https://user-images.githubusercontent.com/64035221/122902726-59b69a00-d36c-11eb-8acd-314bdca2d4af.png" alt="Telegram" width="40" height="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.instagram.com/bhavik_tutorials/"><img src="https://user-images.githubusercontent.com/64035221/122902732-5ae7c700-d36c-11eb-8c26-faca0ce2c949.png" alt="Instagram" width="40" height="40"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</a>
		</p>
